section {
  display: none;
}

.displaying-home #home,
.displaying-code #qrcode {
  display: block;
}

.code {
  border: 1px solid var(--theme-border-lighter);
  border-radius: var(--theme-border-radius);
  box-shadow: var(--theme-box-shadow);
  margin-bottom: var(--space-l);
  padding: var(--space-s);
}

.code img {
  display: block;
  margin: 0 auto;
  width: 95%;
}

a.button,
a.button:active,
a.button:focus,
a.button:visited {
  margin: var(--space-s) 0;
}

hr {
  border-bottom: 5px solid var(--theme-border-lighter);
}

summary {
  cursor: pointer;
}
